opencv-python
scikit-learn
numpy==1.26.4
webcolors
matplotlib
torch
Pillow
transformers
torchvision
scipy
boto3
python-dateutil
psutil
pandas
py-cpuinfo
ultralytics-thop==2.0.12
seaborn==0.13.2
tzdata
ultralytics