opencv-python
scikit-learn
numpy
webcolors
matplotlib
torch
Pillow
transformers
torchvision
scipy
opencv-python
scikit-learn
numpy==1.26.4
webcolors
matplotlib
torch
Pillow
transformers
torchvision
scipy
boto3
python-dateutil==2.8.1
psutil
pandas==1.5.3
py-cpuinfo
ultralytics-thop==2.0.12
seaborn==0.13.2
tzdata
ultralytics